/.github export-ignore
/bootstrap export-ignore
/tests export-ignore
composer.lock export-ignore
docker-compose.yml export-ignore
phpunit.xml export-ignore
ReadMe.md export-ignore
pint.json export-ignore